{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title"> Change Password </h2>

        <!-- Song Schema
            CREATE TABLE Song (
                song_id INTEGER PRIMARY KEY REFERENCES AudioMedia(media_id),
                song_title VARCHAR(100),
                length INTEGER
            );
            Associated Media_id information
                - storage location
            Associated Artist information
                - artist_id
            Associated Meta data
                - description (4)
                - song_genre (1)
                - artwork (3)
        -->
        <form class="Add" method="POST" action="{{url_for('change_password')}}">

            UserName: <input type="text" name="user_name" placeholder="User name">
            <br/>
            OldPassword: <input type="text" name="old_password"  placeholder="please input">
            <br/>
            NewPassword: <input type="text" name="new_password"  placeholder="please input">
            <br/>
           <button class="flat" type="submit">Add</button>
            <br/>

    </div>
</div>
{% include 'bottom.html'%}