{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Movies</h1>
        <!-- Query 10
            Search for Movies
            You need two sections
            First is a form to take in input
            Second is a table to display reults
         -->
        <form class="Search" method="POST" action="{{url_for('search_movies')}}">
            <input type="text" name="searchterm" placeholder="Movie" autofocus required>
            <button class="flat" type="submit">Search</button>
        </form>
            {% if movies | length > 0 %}
                <!-- All Movie -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Movie ID</td>
                            <td>Movie Name</td>
                            <td>Movie Realease year</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in movies %}
                            <!-- Each row is a link to each individual movie page -->
                            <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                                <td style="text-align: center">{{instance.movie_id }}</td>
                                <td>{{instance.movie_title}}</td>
                                <td>{{instance.release_year}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% endif %}

    </div>
{% include 'bottom.html'%}
